{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        body {
            background-image: url("{% static 'images/ecom_banner3.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>

    <!-- Loop through products and display each in a card -->
    <div class="product-list">
        {% for product in products %}
        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.productname }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Price - {{ product.price }}</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>
